@import './base/reset';

.container-lg {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}

.dynamic-row {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  flex: 1;
}
