.wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 1rem;
  margin: 20px 0px;
  width: 200px;
  max-height: 142px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  // when max 768px, the wrapper will be 100% width
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    position: static;
  }
  p {
    font-size: 0.8rem;
    font-weight: 600;
  }
  input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.8rem;
    outline: none;
  }
  select {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.8rem;
    outline: none;
  }
}
