.section {
  flex: 3;
}

.section_detail {
  flex: 2;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    padding-left: 0;
    padding-top: 1rem;
  }
  h3 {
    color: gray;
  }
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    background-color: #f0c14b;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    svg {
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: #ddb347;
    }
  }
}
