.container {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.header_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  a {
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      margin-top: 4px;
      background: #c37b07;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: #c37b07;
      &::after {
        width: 100%;
      }
    }
  }
}
