@use '../../../styles/abstracts' as a;

.product_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  &.dark {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  }
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
  }

  //when hover
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
  }

  @media (max-width: 768px) {
    height: 200px;
    img {
      height: 150px;
    }
  }
}
.product_info_wrapper {
  display: flex;
  align-items: center;
  svg {
    font-size: 2rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
    &:hover {
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
.product_info {
  flex: 1;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
  padding: 5px 0 5px 10px;

  p {
    font-size: 0.6rem;
  }
  h6 {
    line-height: 0.7rem;
  }
}

.price_section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.favorite {
  position: absolute;
  font-size: 1.25rem;
  top: 10px;
  right: 10px;
  color: a.$primary-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: a.$primary-hover-color;
  }
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
  background-color: a.$primary-color;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
