*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Exo 2', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
