@use '../abstracts/colors';

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  // color: colors.$black;
  // background-color: colors.$white;
  font-family: 'Lato', sans-serif;
}

.light {
  // color: colors.$black;
  // background-color: colors.$white;
}

.dark {
  // color: colors.$white;
  // background-color: colors.$black;
}
